/* ==========================================================
   Container
   ========================================================== */

.container {

  width: min(680px, 100%);

  margin-inline: auto;

}

/* ==========================================================
   Main
   ========================================================== */

main {

  @extend .container;

  @include flex(column, 1.1rem);

  flex: 1 0 auto;

  padding: $space;

}

/* ==========================================================
   Generic Layout Helpers
   ========================================================== */

.stack {

  @extend %stack;

}

.row {

  @extend %row;

}

/* ==========================================================
   Horizontal Rule
   ========================================================== */

hr {

  border: none;

  border-bottom: 3px dashed var(--border);

  margin: 0;

  clear: both;

  &.hard {

    border-bottom-style: solid;

  }

}