/* ==========================================================
   Lego
   ========================================================== */

.lego {

  @extend %glass;
  @extend %stack;

}

/* ==========================================================
   Body
   ========================================================== */

.lego-body {

  padding: $space-xs;

}

/* ==========================================================
   ID
   ========================================================== */

.lego-id {

  float: right;

}

/* ==========================================================
   Cover
   ========================================================== */

.lego-cover {

  width: 80%;

  height: 80%;

  align-self: center;

  object-fit: scale-down;
  padding-top: $space-sm;
  padding-bottom: $space-sm;

}