---
title: Brime Live
layout: default
type: about
slug: brime
blurb: A start-up livestreaming platform. Working as a core part of the Community Team that delt with user support and Trust & Safety.
date: 2021 - 2023
permalink: /projects/brime-live/
---

<main class="container">
{% include hero.html %}
{% include breadcrumbs.html %}

    <h2>Timeline</h2>
    
    <p>I first found out about Brime when I was looking for a new platform to stream on. I had been using Twitch for a while, but was getting frustrated with the lack of support and the constant changes to the platform. I was looking for something that was more community-focused and that would allow me to have more control over my streams.</p> 
    
    <p>Around the time that Mixer was shut down in 2020 - right at the hight of the global pandemic - when there was a considerably higher number of streamers at home and filling their time by streaming.
       The shutdown of Mixer left a lot of people looking for a new platform to stream on, and Brime was beinmg mentioned frequently as a new alternative</p>
   
    <h2>The Acquisition</h2>
    
    <p>The platform had been acquired by a team of three developers who were keen to bring the idea to life. Which they did. Three weeks later, they had the foundations for a platform, and were able to start pre-registering users for a closed-beta.</p>
    <p>I spent a lot of my free time hanging around the server, and talking to the members of the community who, like me a few months ago, had been looking for a new platform to stream on and found the name Brime.</p>
    <p>After a few months, I was invited to join the Moderation team.</p>

    <h2>Joining The Team</h2>

    <p>My time at Brime was one that started off with a lot of promise, but ended up being a bit of a disappointment.</p>
    
    <p>I was part of the Community Team, and was responsible for dealing with user support and Trust & Safety on the platform itself. Talking to new content creators while they were live, and helping them to get to grips with the platform, and also dealing with any issues that arose on the platform itself.</p> 
    <p>It was a really promising time - the platform was being developed rapidly and there was a lot of excitement in the community. Alex from Casterlabs also ended up joining the team, helping to drive the platform forward.</p>
    <p>Unfortunately, the platform was not able to sustain itself and eventually shut down. It was a real shame, as I really enjoyed my time there and was looking forward to seeing the platform grow and develop.</p> 
</main>