---
title: Duck Butter Podcast
layout: default
type: about
slug: duck-butter
blurb: Started during the Pandemic, we talked mostly about Video Games.
date: 2020 - 2021
permalink: /projects/duck-butter/
---

<main id="main" class="container">
{% include hero.html %}
{% include breadcrumbs.html %}
    <h2>Timeline</h2>

    <p>During the Pandemic, I started a podcast with a friend of mine. We talked about Video Games, and the industry in general. We had a lot of fun doing it, and it was a great way to keep in touch with people during a time when we were all stuck at home.</p>

    <p>We recorded the podcast over Discord, and edited it ourselves. We released it on Spotify, Apple Podcasts, and other platforms.</p>

    <p>We eventually stopped recording the podcast, but it was a great experience and I learned a lot about audio production and editing.</p>
    </main>