---
title: Essex Central Magazine
layout: default
type: about
slug: essex-central
blurb: Worked for a locally distributed glossy A5 lifestyle magazine.
date: 2010 - 2012
permalink: /projects/essex-central/
---

<main id="main" class="container">
{% include hero.html %}
{% include breadcrumbs.html %}
<h2>Timeline</h2>

<p>I worked for Essex Central Magazine from 2010 to 2012. I was responsible for the social media presence of the magazine, as well as assisting with the distribution of the magazine itself.</p>

</main>