---
title: Sulake
layout: default
type: about
slug: sulake
blurb: Worked for a company that created Habbo Hotel, a social networking service and online community aimed at teenagers.
date: 2003 - 2005
permalink: /projects/sulake/
---

<main id="main" class="container">
{% include hero.html %}
{% include breadcrumbs.html %}
    <h2>Timeline</h2>
    <p>During what many would view as the golden era of Habbo Hotel, I worked as a Community Moderator.</p>
    <p>My time at Sulake was instrumental in shaping the community and ensuring a safe and enjoyable experience for all users.</p>
    <p>Starting on the site as just a regular user, I quickly rose through the ranks to become a trusted member of the moderation team.</p>
    <p>Helping to shape some of the early Trust & Safety policies (before things like that were widely considered)</p>

</main>