/* ==========================================================
   Generic Grid
   ========================================================== */

.grid {

  @include grid(1fr, .2rem);


}

/* ==========================================================
   Two Column
   ========================================================== */

.grid-2 {

  @include grid(repeat(2, 1fr), .75rem);

  width: 100%;

}
/* ==========================================================
   Three Column (Lego)
   ========================================================== */

.grid-3 {

  @include grid(repeat(3, 1fr), .75rem);

  width: 100%;

}
.grid-4 {

  @include grid(1fr, .2rem);

  width: 100%;

}
/* ==========================================================
   About Grid
   ========================================================== */

.grid-about {

  @include grid(1fr, .75rem);

  width: 60%;

  margin-left: 15%;


}

/* ==========================================================
   Responsive
   ========================================================== */

@include mobile {

  .grid,
  .grid-2,
  .grid-about {

    grid-template-columns: 1fr;
    width: 100%;

  }

}