/* ==========================================================
   Display
   ========================================================== */

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

/* ==========================================================
   Flex
   ========================================================== */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.center {
  @include flex(row, 0, center, center);
}

.text-center {
  text-align: center;
}

/* ==========================================================
   Width
   ========================================================== */

.w-100 {
  width: 100%;
}

/* ==========================================================
   Margin
   ========================================================== */

.mx-auto {
  margin-inline: auto;
}

.mt-auto {
  margin-top: auto;
}